.root {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);

  .card {
    &-header {
      &-title {
        color: var(--tg-theme-text-color);
        justify-content: center;
      }
    }

    &-content {
      display: flex;
      justify-content: center;
      height: 259px;
      padding: 11px;

      .image-wrapper {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        max-width: 100%;
        max-height: 100%;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    &-footer {
      border: none;
      overflow: hidden;

      & > button {
        border: none;
        border-radius: 0;
        height: 100%;
      }
    }
  }
}
