.root {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);

  .card {
    &-header {
      &-title {
        color: var(--tg-theme-text-color);
        justify-content: center;
      }
    }

    &-content {
      text-align: center;
    }

    &-footer {
      border: none;
      overflow: hidden;

      & > button {
        border: none;
        border-radius: 0;
        height: 100%;
      }
    }
  }
}
